{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL('static','js/jquery-1.4.min.js')}}" ></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


<script type="text/javascript" src="{{=URL('static','js/jquery.sheepItPlugin.js')}}"></script>

<!-- <script type="text/javascript" src="{{=URL('static','js/jquery.sheepItPlugin-1.1.1.min.js')}}"></script> -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="h2">Add Sales</h3>
    <small class="text-muted">Please use the form below to enter new sale. </small>
</div>

{{=form.custom.begin}}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Inv">Invoice No.</label>
      <!-- <input type="text" class="form-control" id="Inv" placeholder="Invoice No."> -->
      {{=form.custom.widget.Invoi}}
    </div>
    <div class="form-group col-md-6">
      <label for="customer">Customer</label>
      <!-- <input type="text" class="form-control" id="customer" placeholder="Customer"> -->
      {{=form.custom.widget.Customer}}
    </div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reference No</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="sheepItForm">

    <tr id="sheepItForm_template">
      <td id='sheepItForm_label' for="sheepItForm_#index#_ref">
        {{=form.custom.widget.counter}}
        <!-- <input type="hidden" id="counter" name="counter"></input> -->
      </td>
      <td>
        <!-- <input type="text" class="form-control" id="refno" placeholder="Reference No"> -->
        {{=form.custom.widget.Ref_No}}
      </td>

      <td><input type="text" class="form-control" id="desc" placeholder="Description" readonly></td>
      <td><input type="number" class="form-control" id="qty" placeholder="0"></td>
      <td><input type="number" class="form-control" id="price" placeholder="0.00" readonly></td>
      <td><input type="number" class="form-control" id="total" placeholder="0.00" readonly></td>
      <td><a id="sheepItForm_remove_current" class="btn btn-danger" href="#" role="button">x</a></td>

    </tr>
    <tr id="sheepItForm_noforms_template"></tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" align="right"><B>Total Amount:</B></td>
      <td colspan="2"><input type="number" class="form-control" id="total_amount" placeholder="0.00" readonly></td>
    </tr>
    <tr>
      <td colspan="5" align="right"><B>Discount:</B></td>
      <td colspan="2"><input type="number" class="form-control" id="discount" placeholder="0.00" readonly></td>
    </tr>
    <tr>
      <td colspan="5" align="right"><B>Grand Total:</B></td>
      <td colspan="2"><input type="number" class="form-control" id="grand_total" placeholder="0.00" readonly></td>


    </tr>
    <tr>
        <td colspan="7">
        <div>
            <a id="sheepItForm_add" class="btn btn-success" href="#" role="button">Add</a>
            <a id="sheepItForm_remove_last" class="btn btn-danger" href="#" role="button">Remove</a>
            <a id="sheepItForm_remove_all" class="btn btn-danger" href="#" role="button">Remove All</a>
        </div>
        </td>

    </tr>

  </tfoot>
</table>
  <!-- <button type="submit" class="btn btn-primary">Save Invoice</button> -->
  {{=form.custom.submit}}
{{=form.custom.end}}
<style>

a {

    color:#00F;
    cursor:pointer;
}

#sheepItForm_controls div, #sheepItForm_controls div input {
    float:left;
    margin-right: 10px;
}


</style>

<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {

    var sheepItForm = $('#sheepItForm').sheepIt({
        separator: '',
        allowRemoveLast: true,
        allowRemoveCurrent: true,
        allowRemoveAll: true,
        allowAdd: true,
        allowAddN: true,
        maxFormsCount: 10,
        minFormsCount: 0,
        iniFormsCount: 2
    });

});

</script>
