{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL('static','js/jquery-1.4.min.js')}}" ></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


<script type="text/javascript" src="{{=URL('static','js/jquery.sheepItPlugin.js')}}"></script>

<!-- <script type="text/javascript" src="{{=URL('static','js/jquery.sheepItPlugin-1.1.1.min.js')}}"></script> -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="h2">Add Sales</h3>
    <small class="text-muted">Please use the form below to enter new sale. </small>
</div>
{{=form}}
<style>

a {

    color:#00F;
    cursor:pointer;
}

#sheepItForm_controls div, #sheepItForm_controls div input {
    float:left;
    margin-right: 10px;
}


</style>

<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {

    var sheepItForm = $('#sheepItForm').sheepIt({
        separator: '',
        allowRemoveLast: true,
        allowRemoveCurrent: true,
        allowRemoveAll: true,
        allowAdd: true,
        allowAddN: true,
        maxFormsCount: 10,
        minFormsCount: 0,
        iniFormsCount: 2
    });

});

</script>
