{{extend 'layout.html'}}
<script type="text/javascript">
var data = new Array(); // creating array
var y = new Array();
var description = new Array();

function add_element(){
  data.push(document.getElementById('refno').value); // adding element to array
  y.push(document.getElementById('qty').value);

  document.getElementById('refno').value=''; // Making the text box blank
  document.getElementById('qty').value='';

  disp(); // displaying the array elements
  qty();
}

function qty(){
  var q = '';
  for (t = 0; t < y.length; t++)
  {
    q += y[t] + "<br >";
  }
  document.getElementById('qq').innerHTML=q;
}
function disp(){
var str='';
var des = '';
var pric = '';
// str = 'total number of elements in data array : ' + data.length + '<br>';
for (i = 0; i < data.length; i++)
{
  str += data[i] + "<br >";  // adding each element with key number to variable
}


for (d = 0; d < description.length; d++)
{
  des += description[d] + "<br >";
  // {{ for de in db(db.itemmas.Ref_No == request.vars.data).select(db.itemmas.Descrip):}}
  //   {{=de.Descrip}}
  //   {{pass}}

  // ] + "<br >";
}

document.getElementById('disp').innerHTML=str; // Display the elements of the array
document.getElementById('disc').innerHTML=str;
document.getElementById('pric').innerHTML=str;
}


</script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="h2">Add Sales</h3>
    <small class="text-muted">Please use the form below to enter new sale. </small>
</div>


<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Inv">Invoice No.</label>
      <input type="text" class="form-control" id="Inv" placeholder="Invoice No.">
    </div>
    <div class="form-group col-md-6">
      <label for="customer">Customer</label>
      <input type="text" class="form-control" id="customer" placeholder="Customer">
    </div>
  </div>
  <table style="width:100%">
    <tbody>
      <tr>
        <td><label>Reference No.</label></td><td><label>Quantity</label></td><td></td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" id="refno" name="refno" placeholder="Reference No."></td>
        <td><input type="number" class="form-control" id="qty" name="qty" placeholder="Quantity"></td>
        <td>
          <!-- <input type=text  id='t1'> -->
          <!-- <input type=button value='Add Item' class="btn btn-primary btn-primary" onClick="ajax('{{=URL('default', 'itms')}}', ['refno'], 'disp')";> -->
          <input type=button value='Add Item' class="btn btn-primary btn-primary" onClick='add_element()';>

        </td>
     <!--    <td><a class="btn btn-primary btn-primary" onclick="ajax('{{=URL('default', 'itms', args=id)}}', ['refno'], 'target2')" >Add Item</a></td> -->
      </tr>
    </tbody>
  </table>
</form>
  <br>
  <table style="width:100%">
    <thead>
      <tr><th>Reference No.</th><th>Description</th><th>Price</th><th>Quantity</th><th>Sub Total</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><div id=disp></div></td>
        <td><div id=disc></div></td>
        <td><div id=pric></div></td>
        <td><div id=qq></div></td>
        <td><div></div></td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" align="right"><b>Total<b></td><td align="right"><b>0.00</b></td>
      </tr>
    </tfoot>

  </table>
