{{extend 'layout.html'}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="h2">Sales</h3>
    <small class="text-muted">Please use the table below to navigate or filter the results. You can download the table as csv, excel and pdf.</small>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<a class="btn btn-primary" href="{{=URL('addsale')}}" role="button">Add Sale</a>
</div>
{{=table}}

<script>
$(document).ready(function() {
    var myTable = $('table.table')

    .DataTable( {
        bAutoWidth: false,
        "columnDefs": [ {
            "searchable": false,
            "orderable": false
        } ],
        "order": [[ 1, 'asc' ]],
    });

	new $.fn.dataTable.Buttons( myTable, {
		buttons: [

		  {
			"extend": "excel",
			"exportOptions": {
                    columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ] },
            "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> Export to Excel",
            "titleAttr": " Export to Excel",
            "className": "btn btn-link"
		  }
		]
	} );
	myTable.buttons().container().appendTo( '#' + myTable.table().container().id + ' .col-sm-6:eq(0)' );
} );
</script>
